<!DOCTYPE html>
<html>
  <head>
    <title>Happy things with Polymer</title>
    <meta name="description" content="Make your first custom element with Polymer and Glitch!">
        
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="mobile-web-app-capable" content="yes">
    
    <!-- Chrome, Firefox OS and Opera -->
    <meta name="theme-color" content="#67b26f">
    <!-- Windows Phone -->
    <meta name="msapplication-navbutton-color" content="#67b26f">
    <!-- iOS Safari -->
    <meta name="apple-mobile-web-app-status-bar-style" content="#67b26f">

    
    <link href="https://fonts.googleapis.com/css?family=Quicksand:300" rel="stylesheet">
    <link rel="stylesheet" href="/style.css">
    
    
    <!-- Load the polyfill so that this works in browsers that don't yet have Custom Elements -->
    <script src="/bower_components/webcomponentsjs/webcomponents-lite.js"></script>
        
    <link rel="import" href="/wy-app.html"> 
  </head>
  <body>      
    <wy-app></wy-app>
  </body>
</html>
